body{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    background-color: white;
}

a{
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

#topmenu{
    padding-bottom: 10px;
}

#successmsg {
    font-weight: bold;
    color: blue;
}

#errormsg {
    font-weight: bold;
    color: red;
}