body{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    background-color: pink;
    background-image: url(https://upload-assets.vice.com/files/2015/06/12/1434147331tumblr_n24oy03G0o1syjt2wo1_250.gif), url(https://www.itsnicethat.com/system/files/122014/54919c5d5c3e3c3897000408/index_default/list.gif?1438263449)
}

a{
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

#topmenu{
    padding-bottom: 10px;
}

#successmsg {
    font-weight: bold;
    color: blue;
}

#errormsg {
    font-weight: bold;
    color: red;
}