<html>
    <head>
         <link rel="stylesheet" href="/i/style.css">  
    </head>
    <body>
        <div id="topmenu">
            <a href="/">Home</a>
            {% if login_url %}
            <a href="{{login_url}}">Login</a>
            {% else %}
            <a href="{{logout_url}}">Logout</a>
             <a href="/p/{{name}}">View Profile</a>
             <a href="/profile-edit">Edit Profile</a>
            <!––Dropdown for group-->
            <div class="dropdown">
                <button class="dropbtn">Groups ▼</button>
                <div class="dropdown-content">
                    <!––Links included in group dropdown-->
                    <a href="/group-list">List Groups</a>
                    <a href="/group-create">Create Groups</a>
            
                    </div>
                </div>
            {% endif %}
            <div class="studigroup"> StudiGroup </div>
            <img class="studigroup" id="logo" src="https://i.ibb.co/SXMrttq/book.png" alt="book" border="0">
        </div>
        {% if successmsg %}
        <div id="successmsg"> {{successmsg|linebreaks}}</div>
        {% endif %}
        {% if errormsg %}
        <div id="errormsg"> {{errormsg|linebreaks}}</div>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>
