{% extends "_base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/i/currentgroups.css"
    </head>

    <h1><i>Active Groups</h1></i>

<form>
    <form method="post" action="/view-group">
 <fieldset>
     <legend><b>YOU ARE THE ADMIN OF:</b></legend>
    {% for group in groups %}
    <a href="/g/{{group}}">{{group}}</a>
    <a href="/g/delete/{{group}}" id="delete_button">Delete Group</a>    
    <br>
    {% endfor %}
    <br><br>
    <a href="/group-edit" id="edit_button">Create Group</a>
{% endblock %}  
     
     <hr size="2" color="#72DFE5">
 </fieldset>
</form>
    
   {% for group in groups %}
    <a href="/g/{{group}}">{{group}}</a>
    <a href="/g/delete/{{group}}" id="delete_button">Delete Group</a>    
    <br>
    {% endfor %}
    <br><br>
    <a href="/group-edit" id="edit_button">Create Group</a>
{% endblock %}      
        
     
     <hr size="2" color="#72DFE5">
 </fieldset>
</form>
 
    

    </html>
{% endblock %}