{% extends "_base.html" %}
{% block content %}

<form method="post" action="/group-save">
    Name:<br>
    <input type="text" name="group_name" value="{{group_name}}" maxlength="40"><br><br>
    Course:<br>
    <select name="course">
        {% for course in courses %}
        {{course}}
        <option value="{{course}}">{{course}}</option>
        {% endfor %}
    </select>
    <br><br>
    Description:<br>
    <textarea name="description" rows="16" maxlength="300">{{description}} </textarea><br><br>
    Member Limit:<br>
    <input type="number" name="quantity" min="2" max="20" value="{{member_limit}}"><br><br>
    <br><br>
    <input type="submit">
</form>
{% endblock %}