{% extends "_base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/i/creategroup.css">

<h1><center><i> Create a Group </i></center></h1>
<fieldset>
    <legend>Be sure to fill out all boxes with relevant information.</legend>
    <form method="post" action="/group-save">
        <b>NAME:</b><br>
        <input type="text" name="group_name" value="{{group_name}}" maxlength="40"><br><br>
        <b>COURSE:</b><br>
        <select name="course">
            {% for course in courses %}
            {{course}}
            <option value="{{course}}">{{course}}</option>
            {% endfor %}
        </select>
        <br><br>
        <b>DESCRIPTION:</b><br>
        <label for="start">Start date:</label>

<input type="date" id="start" name="group-start"
       name="date">

<label for="time">Choose a time for your meeting:</label>

<input type="time" id="appt" name="meettime"
       min="0:00" max="24:00" required>
        <textarea name="description" rows="10" maxlength="300">{{description}}</textarea><br><br>
        <b>MEMBER LIMIT:</b><br>
        <input type="number" name="quantity" min="2" max="20" value="{{member_limit}}"><br><br>
        <input type="submit">
    </form>
</fieldset>
{% endblock %}
