{% extends "_base.html" %}
{% block content %}
      <link rel="stylesheet" type="text/css" href="/i/viewprofile.css">  
    <h1><center><i> Your Profile </i></center></h1> 
<fieldset>
    <legend>Current user information:</legend>
    <div class="information">
        <b>NAME: <b> {{name}}
        <br><br>
        <b>SCHOOL:</b> {{school}}
        <br><br>
        <b> COURSES: <b> <br>
        {% for course in courses %}
        {{course}}
        <br>
        {% endfor %}
        <br>
        <b> GROUPS: <b> <br>
        {% for group in groups %}
        <a href="/g/{{group}}">{{group}}</a>
        <br>
        {% endfor %}
    </div>
</fieldset>
{% endblock %}
