{% extends "_base.html" %}
{% block content %}
     <link rel="stylesheet" type="text/css" href="/i/editprofile.css"> 
<form method="post" action="/profile-save">
<br>
<h1><center><i> Edit Your Profile </i></center></h1> 
    <fieldset>
        <legend>Be sure you have your class schedule with you when creating your account!</legend>
        <div class="prof">
    <b>NAME</b><br>
    <input type="text" name="name" value="{{name}}" maxlength="40"><br><br>
    <b>SCHOOL</b><br>
    <input type="text" name="school" value="{{school}}" maxlength="60"><br>
    <br><b>CLASSES</b><br>
    <div id="MyClasses">
    </div>
    <button id="add" type="button">add Class</button>
    <button id="remove" type="button">remove Class</button>
    <br><br>
    <input type="submit">
    </div>
    </fieldset>
</form>
<script src="/i/scripts.js"></script>
<script>
    {% for course in courses %}
    classes.push('{{course}}');
    {% endfor %}
    showClasses();
</script>
{% endblock %}
