{% extends "_base.html" %}
{% block content %}

<form method="post" action="/profile-save">
    Name:<br>
    <input type="text" name="name" value="{{name}}" maxlength="40"><br><br>
    School:<br>
    <input type="text" name="school" value="{{school}}" maxlength="60"><br><br>
    Profile:<br>
    <br><b>CLASSES</b><br>
    <div id="MyClasses">
    </div>
    <button id="add" type="button">add Class</button>
    <button id="remove" type="button">remove Class</button>
    <br><br>
    <input type="submit">
</form>
<script src="/i/scripts.js"></script>
<script>
    {% for course in courses %}
    classes.push('{{course}}');
    {% endfor %}
    showClasses();
</script>
{% endblock %}